pyrightconfig.json

# Standard Python ignores
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# data files
data/
checkpoints/

# Ignore data files
*.csv
*.json
*.xlsx

# Ignore logs
logs/
.logs/

# miscelaneous files to ignore
.DS_Store

# Ignore the .vscode directory
.vscode/